<nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
  <div class="container-fluid"><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav flex-grow-1 justify-content-between">
              <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-apple"></i></a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">Mac</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">iPad</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">IPhone</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">Watch</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">TV</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">Music</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">Support</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">Third Item</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-search"></i></a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-shopping-bag"></i></a></li>
          </ul>
      </div>
  </div>
</nav>
<section id="header" class="mb-4">
  <h1><strong>iPhone 11 Pro</strong></h1>
  <h3>Pro cameras. Pro Display. Pro Performance</h3>
  <p class="text-muted">From $24.95/mo. or $599 with trade-in.*</p><a href="#" id="learn-more" class="learn-more-buy">Learn more&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</a><a href="#" class="learn-more-buy">Buy&nbsp;<i class="fa fa-angle-right"></i></a></section>
<section
  id="color-section" class="iphone-watch">
  <h1><strong>iPhone 11</strong></h1>
  <h3>Just the right amount of everything.</h3>
  <p class="text-muted">From $16.62/mo. or $399with trade-in.*</p><a href="#" id="learn-more" class="learn-more-buy">Learn more&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</a><a href="#" class="learn-more-buy">Buy&nbsp;<i class="fa fa-angle-right"></i></a></section>
  <section
      id="watch-section" class="iphone-watch">
      <h1><i class="fa fa-apple"></i><strong>&nbsp;WATCH</strong></h1>
      <h4>SERIES 5</h4>
      <p class="watch-desc" style="margin: 0;padding: 0;">With the new Always-On Retina Display.</p>
      <p class="watch-desc" style="padding: 0;">You never seen a watch like this.</p>
      </section>
      <div class="container-fluid mt-3" id="tiles">
          <div class="row">
              <div class="col-md-6 tiles" id="watch-tile">
                  <h1 style="margin: 0;">Apple Watch Studio</h1>
                  <p style="padding: 0;margin: 0;">Any case. Any Band. Any style you want.</p>
              </div>
              <div class="col-md-6 tiles" id="Ipad-tile">
                  <h5 style="margin: 0;">The New</h5>
                  <h1 style="margin: 0;">iPad</h1>
                  <p style="padding: 0;margin: 0;">Like a computer. Unlike any computer</p>
              </div>
              <div class="col-md-6 tiles" id="tv-tile">
                  <h2 style="color: rgb(255,255,255);"><i class="fa fa-apple"></i>tv+</h2>
              </div>
              <div class="col-md-6 tiles" id="card-tile">
                  <h1 style="margin: 0;"><i class="fa fa-apple"></i>Card is here.</h1>
                  <p style="padding: 0;margin: 0;">Get 3% Cash on purchases from Apple using Apple Card.</p>
              </div>
              <div class="col-md-6 tiles" id="arcade-tile">
                  <h1 style="margin: 0;"><i class="fa fa-apple"></i>Arcade</h1>
                  <p style="padding: 0;margin: 0;">Play Extrodinary.</p>
                  <p style="padding: 0;margin: 0;">Find it on the App Store.**</p><a href="#" class="learn-more-arcade">Learn more&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</a></div>
              <div class="col-md-6 tiles" id="oprah-tile">
                  <h1 style="margin: 0;">Apple and Oprah.</h1>
                  <h2 style="margin: 0;">Read with us.</h2>
              </div>
          </div>
      </div>